= render partial: 'groups/sidebar'
.chat
  .chat__header
    .chat__header__left
      .chat__header__left__name
        = @group.name
      .chat__header__left__member
        Member :
        - @users.each do |user|
          = user.name
    .chat__header__right
      = link_to 'Edit', edit_group_url(@group), class: 'chat__header__right__edit-button'
  .chat__body
    .chat__body__chat
      - @messages.each do |msg|
        .chat__body__chat__top
          .chat__body__chat__top__name
            = msg.user.name
          .chat__body__chat__top__time
            = simple_time(msg.created_at)
        .chat__body__chat__bottom
          .chat__body__chat__bottom__message
            = msg.body
            = image_tag msg.image.to_s
  .chat__footer
    = form_for [@group, @message] do |f|
      .chat__footer__input
        = f.text_field :body, rows: '1', placeholder:'type a message', class: 'chat__footer__input__body'
        = f.label :image, class: 'chat__footer__input__image' do
          = f.file_field :image, class: 'file-upload'
          %i.fa.fa-image
      = f.submit 'Send', class: 'chat__footer__send'
