= render partial: 'groups/sidebar'
.chat
  .chat__header
    .chat__header__left
      .chat__header__left__name
        = @group.name
      .chat__header__left__member
        Member :
        - @users.each do |user|
          = user.name
    .chat__header__right
      = link_to 'Edit', edit_group_url(@group), class: 'chat__header__right__edit-button'
  .chat__body
    = render partial: 'messages/message', collection: @messages
  .chat__footer
    = form_for [@group, @message] do |f|
      .chat__footer__input
        = f.text_field :body, rows: '1', placeholder:'type a message', class: 'chat__footer__input__body'
        = f.label :image, class: 'chat__footer__input__image' do
          = f.file_field :image, class: 'file-upload'
          %i.fa.fa-image
      = f.submit 'Send', class: 'chat__footer__send'
