.chat-group-form
  %h1 新規チャットグループ
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        = @group.errors.count
        件のエラーが発生しました。
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  = form_for @group, html: { id: 'new_chat_group', class: 'new_chat_group' } do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label
          = f.label :name, 'グループ名'
      .chat-group-form__field--right
        #chat_group_name.chat-group-form__input
          = f.text_field :name, placeholder: 'グループ名を入力してください'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label
          = f.label :member, 'チャットメンバー'
      .chat-group-form__field--right
        .check-boxes
          = f.collection_check_boxes(:user_ids, @users, :id, :name)
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'Save', class: 'chat-group-form__action-btn'
